div.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

button.new-project {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

@media (max-width: 720px) {
  div.projects {
    grid-template-columns: 1fr;
  }
}

table,th {
  border-collapse: collapse;
  border: 1px solid black;
  align:center;
}

td {
  text-align: center;
}
