<mat-drawer-container>
  <mat-drawer #snav [mode]="'side'">
      <button mat-stroked-button (click)="updateFields()">Apply</button>
      <mat-form-field>
        <input matInput placeholder="search: e.g. wdphase" [(ngModel)]="searchText">
      </mat-form-field>
      <mat-selection-list #list [(ngModel)]="selectedFields" (ngModelChange)="onNgModelChange($event)">
        <mat-list-option *ngFor="let item of fields" [value]="item">{{item}}</mat-list-option>
      </mat-selection-list>

  </mat-drawer>

  <mat-drawer-content>
    <section class="style-section" fxLayoutGap="20px">
      <label class="style-margin">Color:</label>
      <mat-radio-group [(ngModel)]="graphstyle" (change)="updateGraphStyle()">
        <mat-radio-button value="lines">
          Lines
        </mat-radio-button>
        <mat-radio-button value="dots">
          Dots
        </mat-radio-button>
      </mat-radio-group>

      <button mat-stroked-button (click)="snav.toggle()">Select fields</button>
    </section>
    <div id="graphdiv"></div>
  </mat-drawer-content>
</mat-drawer-container>
