<mat-drawer-container>
  <!--<mat-drawer #snav [mode]="'side'">
      <button mat-stroked-button (click)="updateFields()">Apply</button>
      <mat-form-field>
        <input matInput placeholder="search: e.g. wdphase" [(ngModel)]="searchText">
      </mat-form-field>
      <mat-select #list [(ngModel)]="selectedFields" multiple (ngModelChange)="onNgModelChange($event)">
        <mat-option *ngFor="let item of fields" [value]="item">{{item}}</mat-option>
      </mat-select>

  </mat-drawer>-->

  <mat-drawer-content>
    <section class="style-section" fxLayoutGap="20px">
      <!--<label class="style-margin">Color:</label>-->
      <mat-radio-group [(ngModel)]="graphstyle" (change)="updateGraphStyle()">
        <mat-radio-button value="lines">
          Lines
        </mat-radio-button>
        <mat-radio-button value="dots">
          Dots
        </mat-radio-button>
      </mat-radio-group>
      <!--<mat-form-field>
        <mat-select class="selectClass" #list [(ngModel)]="selectedFields" (ngModelChange)="updateFields($event)" placeholder="Add column">
          <mat-optgroup *ngFor="let group of descriptionGroups" [label]="group">
            <mat-option *ngFor="let item of description[group]" [value]="group+'.'+item">{{item}}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>-->
      <button mat-stroked-button [matMenuTriggerFor]="addmenu">
        Add Columns<mat-icon>add_box</mat-icon>
      </button>
      <mat-menu #addmenu="matMenu">
        <ng-container *ngFor="let group of descriptionGroups">
          <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ group }}</button>
          <mat-menu #sub_menu="matMenu">
             <button *ngFor="let subItem of description[group]" mat-menu-item (click)="updateFields(group+'.'+subItem)">{{ subItem }}</button>
          </mat-menu>
        </ng-container>
      </mat-menu>

      <button mat-stroked-button [matMenuTriggerFor]="removemenu">
        Remove Columns<mat-icon>delete_box</mat-icon>
      </button>
      <mat-menu #removemenu="matMenu">
             <button *ngFor="let item of displayedFields" mat-menu-item (click)="deleteFields(item)">{{ item }}</button>
      </mat-menu>

      <button mat-stroked-button (click)="createBookmark()" class='rightbutton'>Share<mat-icon>share</mat-icon></button>
    </section>
    <div id="graphdiv"></div>
  </mat-drawer-content>
</mat-drawer-container>
