.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.mat-form-field-infix {
  width:340px;
}

.sharecontainer {
  display: flex;
  flex-direction: column;
}

.sharecontainer > * {
  width: 100%;
}
