<h3 matSubheader>{{pbutton.filename}} last generated: {{pbutton.ran_last}}</h3>
<button mat-raised-button="" class="mat-raised-button" (click)="generateGraphs()">
  <span class="mat-button-wrapper">Regenerate static graphs</span>
  <div class="mat-button-ripple mat-ripple" matripple="">
  </div><div class="mat-button-focus-overlay"></div>
</button>
<br />
<mat-form-field class="example-full-width">
  <input matInput placeholder="search: e.g. wdphase" [(ngModel)]="searchText">
</mat-form-field>



<app-image-deck [items]="currentgraphs| filter : searchText"></app-image-deck>
