<h3 matSubheader>{{pbutton.filename}} last generated: {{pbutton.ran_last}}</h3>

<mat-tab-group>
  <mat-tab label="Interactive">
    <igraph></igraph>
  </mat-tab>
  <mat-tab label="Static Graphs">
    <mat-form-field>
      <input matInput placeholder="search: e.g. wdphase" [(ngModel)]="searchText">
    </mat-form-field>
    <button class="pull-right" mat-stroked-button (click)="generateGraphs()">Regenerate static graphs</button>
    <app-image-deck [items]="currentgraphs| filter : searchText"></app-image-deck>
  </mat-tab>
  <mat-tab label="Text pieces">
  <mat-tab-group>
    <mat-tab label="cpf">

    </mat-tab>
    <mat-tab label="cstat">

    </mat-tab>
    <mat-tab label="cpf">

    </mat-tab>
    <mat-tab label="cpf">

    </mat-tab>
  </mat-tab-group>
  </mat-tab>
</mat-tab-group>
