[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
eventlet = "*"
yape = { git = 'https://github.com/murrayo/yape.git'}
sqlalchemy = "*"
marshmallow = "*"
flask-cors = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
matplotlib = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
