[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
eventlet = "*"
yape = { git = 'https://github.com/murrayo/yape.git'}
sqlalchemy = "*"
"psycopg2-binary" = "*"
marshmallow = "*"
flask-cors = "*"
python-jose-cryptodome = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
